
.svg-flex-container {

  .settings-container {
    #clear-messages-button {
      margin: 0 10px 0 0;
      cursor: pointer;
    }
    #height-button {
      margin: 0 10px 0 0;
    }
    #width-button {
      margin: 0 10px 0 0;
      button {
        transform: rotateZ(90deg);
      }
    }
    #scroll-button {
      margin: 0 10px 0 0;
      cursor: pointer;
    }
    
    #performance-button {
      margin: 0 10px 0 0;
      cursor: pointer;
    }

    #link-button {
      margin: 0 10px 0 0;
    }

  }

  #svg-chart-container {
    flex: 1 1 0; // warning: compatibility issues if using flex 1 := flex 1 1 0%
    overflow: scroll;
    margin-top: 10px;

    #labels-container {
      display: flex;
      width: fit-content;
      position: sticky;
      top: 0;
      z-index: 2;

      .popup-label {
        position: absolute;
        background-color: white;
        border-radius: 3px;
        color: white;
        transition: none;
        button {
          display: block;
          width: 100%;
          padding: 3px 5px;
        }
        .hide-button {
          border-bottom: 1px solid white;
          border-radius: 3px 3px 0 0;
          cursor: pointer;
        }
        .focus-button {
          border-radius: 0 0 3px 3px;
          cursor: pointer;
        }
      }

      #padding {
        flex: none;
        position: sticky;
        left: 0;
        background-color: white;
        // box-shadow: -15px 0px 15px 5px grey;
        // clip-path: inset(0px -15px 0px 0px);
      }

      #svg-labels {
        flex: none;
        background-color: white;

        text {
          font-size: 14px;
          dominant-baseline: hanging;
          text-anchor: middle;
        }
        rect {
          cursor: pointer;
        }
      }
    }

    .container {
      display: flex;
      width: fit-content;
      position: relative;
    }
    
    #svg-scale {
      flex: none;
      position: sticky;
      left: 0;
      background-color: white;
      z-index: 1;
    }

    #svg-chart {
      flex: none;
      .chart-vlines {
        stroke: rgb(241, 241, 241);
        stroke-width: 1px;
      }
      .chart-message {
        circle {
          cursor: pointer;
          transition: transform 0.1s;
          transform-origin: center center;
          transform-box: fill-box;
          stroke-width: 10px;
          &:hover {
            transform: scale(1.2);
          }
        }
        .selected {
          stroke-width: 3px;
        }

        line, path {
          transition: stroke-width 0.1s, stroke 0.1s;
          stroke-width: 1px;
          stroke: rgb(199, 198, 198);
          fill: transparent;
          pointer-events: none;
        }
      }
      .outlined {
        circle {
          transform: scale(1.1);
        }
        
        line, path {
          stroke: black;
          stroke-width: 2px;
        }
      }

      .new {

      }

      #line-cursor {
        pointer-events: none;
        line {
          stroke: rgb(182, 182, 182);
          stroke-width: 1px;
          stroke-dasharray: 4 2;
        }
        
        .triangle {
          fill: black;
          stroke: black;
          stroke-linejoin: round;
        }
      }
    }

    #scroll-button {
      position: sticky;
      flex: 0 0 auto;
      align-self: center;
      margin: auto;
      width: 30px;
      height: 30px;
      background-color: red;
      font-size: 20px;
      color: white;
      border-radius: 50%;
      border: none;
      cursor: pointer;
      transition: linear 0.1s;
      opacity: 0;
      visibility: hidden;
    }

    .popup {
      position: absolute;
      color: white;
      border-radius: 7px;
      // padding: 2px;
      overflow: scroll;
      box-shadow: 0 0 8px -5px black;
      box-sizing: border-box;
      font-weight: 500;
      padding: 0 10px 0 10px;

      //Hide scrollbar 
      -ms-overflow-style: none;   /* IE and Edge */
      scrollbar-width: none;      /* Firefox */
      &::-webkit-scrollbar {      /* Chrome, Safari and Opera */
        display: none;
      }

      .popup-message {
        overflow-x: scroll;
      }

      // .popup-text {
        .popup-buttons {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: sticky;
          top: 0; 
          padding: 2px 0 0 0;
          // box-shadow: 0 2px 14px -11px black;
          // clip-path: inset(0 0 -20px 0);
          div {
            cursor: pointer;
          }

          .popup-close {
            float: right;
            font-size: 17px;
          }
          
        }
        .icon-info {
          display: flex;
          align-items: center;
          padding: 3px 0;
          .icon {
            font-size: 15px;
            padding-right: 5px;
          }
        }
        .info {
          display: block;
          position: sticky;
          bottom: 0;
          padding: 3px 0;
          box-shadow: 0 -2px 14px -11px black;
          clip-path: inset(-20px 0 0 0);
        }
      // }
    }
  }

  #stop {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    opacity: 0.8;
    transition: 0.2s;

    #stop-icon {
      font-size: 16px;
      margin-right: -18px;
    }

    button#stop-button {
      flex: 0 0 auto;
      border: none;
      padding: 0 0 1px 18px;
      font-size: 16px;
      height: 100%;
      background-color: transparent;
      color: black;
      cursor: pointer;

      
    }
    &:hover {
      opacity: 1;
    } 
  }
}