.header {
  background: #f7f7f7;
  box-shadow: 0px -9px 22px #000;
  padding: 0 30px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;

  .logo {
    max-width: 100px;

    img {
      max-width: 100%;
    }
  }

  .more {
    button {
      border: none;
      color: #4a4a4a;
      padding: 14px 28px;
      cursor: pointer;
      background: transparent;

      &:hover,
      &.active {
        font-weight: bold;
      }
    }
  }

  .content-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    background: #ececec;

    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;

    .content {
      padding: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: left;
      align-items: flex-start;

      .json-config {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;

        textarea {
          padding: 10px;
          border: none;
        }

        button {
          margin: 7px 0 0 0;
          border: none;
          color: #4a4a4a;
          padding: 7px 14px;
          cursor: pointer;
          background: white;
          border-radius: 5px;

          &:hover {
            background: #dfdfdf;
          }
          &:active {
            background: rgb(87, 87, 87);
          }
        }
      }

      .parameters {
        padding: 10px;

        input[type="checkbox"] {
          padding: 5px;
          width: 20px;
          height: 20px;
        }

        label {
          padding: 0 10px;
        }

        .parameter {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }

    button#close-settings {
      position: absolute;
      right: 10px;
      bottom: 5px;
      background: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        font-weight: bold;
      }
    }
  }
}
