svg {
  .nodes {

    text.label {
      pointer-events: none;
      text-anchor: middle;
      dominant-baseline: middle;
    }

    .node-content {
      .store {
        p {
          text-align: center;
          background: #c6f93a;
          padding: 7px;
          border-radius: 4px;
        }
      }

      .blocks {
        max-height: 200px;
        overflow: auto;

        .block {
          padding: 5px;
          margin: 5px 0;
          border-radius: 5px;
          background-color: #eee;

          .index {
            font-weight: bold;
            color: #aaa;
            padding: 3px 0;
            margin: 0;
          }

          .tx {
            p {
              margin: 0;
              padding: 1px 0;
            }
          }
        }
      }
    }
  }
  .nodes:hover {
    cursor:pointer
  }
}
