
#svg-container #record-controls {
  display:flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 10% 0;

  #play-icon {
    font-size: 24px;
    opacity: 0.9;
    color: #4a4a4a;
    transition: 0.1s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }
  }

  button {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border: none;
    color: #4a4a4a;
    transition: 0.1s;
    cursor: pointer;
  }

  button#live-button {  
    #live-icon {
      color: red;
      font-size: 13px;
    }

    #live {
      font-size: 13px;
      opacity: 0.9;
      margin-left: 1px;
      padding: 0 0 1.5px 0;
    }
    &:hover #live{
      opacity: 1;
    }
  }
  
  #progress-viz {
    flex: 1;
    width: 100%;
    height: 5px;
    transition: 0.1s;    
    background-color: #dfdfdf;
    cursor: pointer;
    background-clip: content-box;
    padding: 10px 0;
    margin: 0 15px 0 10px;
    
    &:hover {
      height: 6px;
    }
    
    .progress-bar {
      position: relative;
      height: 100%;
      width: 100%;
      background-color: red;
      
      .progress-thumb {
        --radius: 6px;
        position: absolute;
        width: calc(2*var(--radius)); 
        height: calc(2*var(--radius)); 
        border-radius: 50%;
        background: red; 
        right: calc(-1*var(--radius)); 
        bottom: calc(50% - var(--radius));
        transition: ease-in 0.1s; 
        pointer-events: none;
        transform: scale(0);
      } 
    }
  }
  #progress-viz:hover .progress-thumb {
    transition: ease-out 0.1s;
    transform: scale(1);
  }
}

