@import "node";
@import "link";
@import "header";

* {
  margin: 0;
  padding: 0;
}

body,
html {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;

  .header {
    height: 50px;
  }

  .svg-container {
    flex: 1;
  }

  .traffics {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
